---
layout: default
title: Home
---
{% from "entries.njk" import entryList %}

<h1>Writing</h1>
{{ entryList(collections.writing) }}

{% if collections.ongoing.length %}
<h2>Ongoing</h2>
{{ entryList(collections.ongoing) }}
{% endif %}
