---
layout: default
title: Home
---

<img src="/images/lymphocytes_2x.png" alt="xkcd 2749: Lymphocytes" width="45%"/>

<h2>Recent</h2>

<ul class="entries">
{%- for entry in collections.recent %}
  <li>
    <a href="{{ entry.url }}">{{ (entry.data.title or entry.fileSlug) | emphasis | safe }}</a>
    <span class="label">{{ entry.data.section }}</span>
    <time datetime="{{ entry.date | isoDate }}">{{ entry.date | isoDate }}</time>
  </li>
{%- endfor %}
</ul>
