---
title: Reading
eleventyExcludeFromCollections: true
---

<h1>Reading</h1>

<p>What I've been reading.</p>

<ul class="entries">
{%- for entry in collections.reading | reverse %}
  <li>
    <a href="{{ entry.url }}">{{ (entry.data.title or entry.fileSlug) | emphasis | safe }}</a>
    <time datetime="{{ entry.date | isoDate }}">{{ entry.date | isoDate }}</time>
  </li>
{%- endfor %}
</ul>
